//$width: 690px
$width: 810px

$desktop-width: 810px
$tablet-width: 720px
$mobile-width: 280px

$desktop-gutter: 30px
$tablet-gutter: 24px
$mobile-gutter: 20px

$boarder-radius: 5px

$gray: #979797
$bg-gray: #F1F1F1
$black: #4A4A4A
$blue: #006699
$white: #ffffff
